*{
  margin: 0%;
  padding: 0%;
  /* border: 2px solid red; */
  font-family: "Work Sans", sans-serif;
  font-style: normal;
}

/* login-page */

.login-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: rgba(118, 119, 119, 0.37);
}

.login-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(2px);
  background-image: url('../src/assets/bg.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9; /* Adjust this value for the desired opacity */
  z-index: -1;
  
}

.login-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  gap: 1rem;
  padding: 5.5rem 4.2rem;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.197);
  border-radius: 8px;
  z-index: 1; 
}


.login-heading{
  font-size: x-large;
  font-weight: 600;
}

.login-email, .login-password{
  padding: 0.5rem 2.5rem 0.5rem 0.5rem;
  border: none;
  background-color: rgba(245, 251, 253, 0.674);
  border-radius: 6px;
 
  &::placeholder{
    font-size: 0.8rem;
  }
  &:focus{
    outline: 1px solid rgb(130, 181, 240);
  }
}

.login-btn{
  padding: 0.5rem 2rem;
  font-weight: 500;
  font-size: medium;
  background-color: black;
  text-align: center;
  color: white;
  border-radius: 8px;
  width: 100%;
  transition: background-color 0.3s ease, transform 0.3s ease;
  &:hover{
    background-color: #333;
    transform: scale(1.05);
  }
}

.register-router-wrapper{
  display: flex;
  font-size: small;
  gap: 0.2rem;
}

.register-link{
  text-decoration: none;
  color: #317ce7;
}

/* signup-page */

.signup-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: rgba(118, 119, 119, 0.37);
}

.signup-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(2px);
  background-image: url('../src/assets/bg.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9; /* Adjust this value for the desired opacity */
  z-index: -1;
  
}

.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  gap: 1rem;
  padding: 5.5rem 4.5rem;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.197);
  border-radius: 8px;
}

.signup-heading {
  font-size: x-large;
  font-weight: 600;
  margin-bottom: 1rem;
}

.signup-name, .signup-email, .signup-phone, .signup-password {
  padding: 0.5rem 2.5rem 0.5rem 0.5rem;
  border: none;
  background-color: rgba(245, 251, 253, 0.674);
  border-radius: 6px;
  &::placeholder {
    font-size: 0.8rem;
  }
  &:focus{
    outline: 1px solid rgb(130, 181, 240);
  }
}

.register-btn {
  padding: 0.5rem 2rem;
  font-weight: 500;
  width: 100%;
  font-size: medium;
  background-color: black;
  color: white;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  &:hover {
    background-color: #333;
    transform: scale(1.05);
  }
}

.login-router-wrapper {
  display: flex;
  font-size: small;
  gap: 0.2rem;
  margin-top: 1rem;
}

.login-link{
  text-decoration: none;
  color: #317ce7;
}

/* company */

.company-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: rgba(118, 119, 119, 0.37);
}

.company-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(2px);
  background-image: url('../src/assets/bg.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
  z-index: -1;
  
}

.company-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  width: 300px;
  gap: 1rem;
  padding: 5.5rem 4.2rem;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.197);
  border-radius: 8px;
  z-index: 1; 
}

.company-heading {
  font-size: x-large;
  font-weight: 600;
  margin-bottom: 1rem;
}

.company-input {
  padding: 0.5rem 2.5rem 0.5rem 0.5rem;
  border: none;
  background-color: rgba(245, 251, 253, 0.674);
  border-radius: 6px;
 
  &::placeholder{
    font-size: 0.8rem;
  }
  &:focus{
    outline: 1px solid rgb(130, 181, 240);
  }
}

.company-submit-btn {
  padding: 0.5rem 2rem;
  font-weight: 500;
  font-size: medium;
  background-color: black;
  text-align: center;
  width: 100%;
  color: white;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.company-submit-btn:hover {
  background-color: #333;
  transform: scale(1.05);
}

/* Alert */

.alert-container {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  width: 300px; /* Adjust as needed */
}

/* Cart */

.cart-wrapper{
  
}

.cart-container{
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
  padding-top: 8rem;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.197);
}
.cart-price{
  color: #317ce7;
  font-weight: 600;
}

.cart-per-day{
  font-size: small;
  color: gray;
}

.cart-item-image {
  width: 150px;
  height: 100px;
  object-fit: cover;
  margin-right: 20px;
  border-radius: 8px;
}

.cart-item-details {
  flex: 1;
  width: 280px;
}

.remove-button {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 10px;
}

.remove-button:hover {
  background-color: #c0392b;
}
.cart-title-wrapper{
  display: flex;
  align-items: center;
  gap: 1.8rem;
}

.cart-rating-wrapper{
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.cart-title{
  color: #317ce7;
}

.cart-roomtype{
  font-size: medium;
  color: gray;
}

.admin-nav-logo{
  display: flex;
  align-items: center;
}

/* bill-card */

.bill-card {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.bill-item-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.bill-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.bill-total {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-top: 20px;
}

.bill-room-name {
  font-weight: 500;
}

.bill-room-price {
  color: #28a745;
}

.proceed-to-pay-button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

.proceed-to-pay-button:hover {
  background-color: #218838;
}

.cart-back-button {
  background-color: transparent;
  color: black;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: x-large;
  margin-right: 20px;
}

/* Favorites */

.fav-nav-wrapper{
  display: flex;
  align-items: center;
  position: fixed;
  background-color: white;
  width: -webkit-fill-available;
  padding: 1.7rem 2.4rem;
  justify-content: space-between;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.197);
  z-index: 100;
}

.fav-title{
  font-size: xx-large;
  font-weight: 500;
}

.fav-nav-btn{
  display: flex;
  align-items: center;
}
.favorites-list{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding-top: 8rem;
}

option{
  padding: 2rem;
}