.room-form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.room-form h1 {
  font-weight: 500;
  margin-bottom: 20px;
}

.room-form form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-common {
  margin-bottom: 0.8rem;
}

.room-form form label {
  margin-bottom: 5px;
  font-weight: bold;
}

.room-form form input,
.room-form form select,
.room-form form textarea {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.room-form form button {
  padding: 1rem 2rem;
  color: white;
  background-color: black;
  border: none;
  font-size: medium;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.room-form form button:hover {
  background-color: #333;
  transform: scale(1.01);
}

.split-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.split-container .form-section {
  flex: 1;
  min-width: 300px;
  padding: 20px;
  box-sizing: border-box;
}

.upload-input {
  border: none;
}

.error-message {
  color: red;
}

@media (max-width: 768px) {
  .split-container {
    flex-direction: column;
  }

  .split-container .form-section {
    min-width: 100%;
  }
}
